body {
  /* background-color: red; */
}

h1 {
  font-size: 50px;
  color: blue;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.article {
  width: 33%;
  height: 400px;
}

#article-1 {
  background-color: red;
}

#article-2 {
  background-color: blue;
}

#article-3 {
  background-color: green;
}

img {
    width: aute;
    height: 80%;
}

.mobile-hidden {

    display: block;

  }

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  h1 {
    color: red;
  }

  .article {
    width: 50%;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  h1 {
    color: green;
  }

  .article {
    width: 100%;
  }

  .mobile-hidden {

    display: none;

  }

}
