.grid-container {
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-item{

    padding: 50px;
}

header {

    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
    background-color: blueviolet;
}

nav {

    grid-column: 1 / span 3;
    grid-row: 2 / span 5;
    background-color: green;
}

main {

    grid-column: 4 / span 6;
    grid-row: 2 / span 4;
    background-color: yellow;
}

aside {
    grid-column: 10 / span 3;
    grid-row: 2 / span 4;
    background-color: fuchsia;
}

footer {

    grid-column: 4 / span 9;
    grid-row: 5 / span 2;
    background-color: paleturquoise;
}

h1 {
    color: red;
}